* {
 margin: 0;
 padding: 0;
 font-family: 'Vollkorn', serif;
}
header {
    height: 70px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
header h1 {
   
    float: left;
    display: inline-block;
    padding: 15px 24px;
    text-decoration: none;
    text-transform: uppercase;
}
header h1 a:hover {
    color: rgb(184, 65, 160);
    transition: 0.2s;
}
header ul {
    
    float: right;
}
.aboutt {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; ;
}
.homee {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; ;
}
.contactt {
        box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; ;
    }
.skillss {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; ;
}


header ul li {
   
    display: inline-block;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 14px;

}
header ul li a:hover{
    color: rgb(184, 65, 160);
    background-color: yellow;
    border-radius: 100px;
    transition: 0.2s;

}
a {
    text-decoration: none;

}
.container {
    width: 90%;
    margin: 0 auto;
    color: white;
    padding-left: 110px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; ;
}
.container::after {
    content: '';
    display: block;
    clear: both;

}
.menuu {
    float: right;
    display: none;
    padding: 18px;
    padding-right: 100px;
    

}
.menuu:hover {
    cursor: pointer;
}
#check {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgb(138, 43, 226, .7);
    transition: 0.3s;
    
}
.sidebar ul li a{
    color: white;
}
.sidebar ul li {
    padding: 24px;
    transition: 0.2s;   
    transition-property: background-color; 
}
.sidebar ul li:hover{
    background-color: yellow;
}
#check:checked ~ .sidebar {
    left: 0;
}
.banner {
    background-color: rgb(51, 9, 74);
}
section {
    padding: 50px 0;
}
.banner img {
    width: 200px;
    border-radius: 10px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; ;

}

.banner p {
    color: white;

}
.container2{
    padding-bottom: 30px;
    margin-right: 50px;
    margin-bottom: 3px;
    padding-left: 70px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
   
}
section h3{
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}
section h3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: #0b0808;
    left: calc(50% - 60px);
}
section h3::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 4px;
    background-color: #873879;
    left: calc(50% - 20px);
}
#About p{
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
    margin-right: 60px;
    
}
.container3{
    margin-top: -240px;
    padding-bottom: 30px;
    margin-right: 50px;
    margin-left: 600px;
    margin-bottom: 3px;
    padding-left: 70px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; ;
}
#Skills {
    background-color: rgb(155, 154, 154);
    position: relative;
    padding-top: ;
}
#Skills p{
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
    margin-right: 60px;
}
#Skills .bar {
    height: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 70px;
    margin-left: 50px;


}
.container2 ul li i {
    padding: 20px;
}
#Skills h4{
    margin-top: 20px;
    margin-left: 55px;
    margin-bottom: 1px;
}
.bar .nilai {
    height: 30px;
    background-color: rgb(75, 39, 110);
    display: inline-block;
    color: #fff;
    text-align: center;
}
.gambar {
    position: relative;
    top: 90px;
    left: 170px;

}
.tiduran{
    width: 70%;
}
.ngegame{
    width: 100%;
}
.ngelamun{
    width: 55%;
}
.lirik {
    width: 90%;
}
.gambar img{
    border-radius: 50%;
}
.logo {
    color: blueviolet;
}
.footer-content{
    width: auto;
    height: 30px;
    background-color: rgb(51, 9, 74);
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;

}
@media (max-width:768px){
    .menuu{
        display: block;
    }
    header ul {
        display: none;
    }

}